.about {
      background: var(--white-bg);
}

.about .container {
      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
}

.about__img {
      height: 100%;
      width: 50%;
}

.about-card {
      width: 45%;

      text-align: center;
}

.about-card__title {
      font-size: 30px;

      text-align: left;
}

.about-card__text {
      font-size: 20px;
      font-size: 18px;

      text-align: justify;
}
