.contact .container {


      display: flex;
      align-items: center;
      justify-content: flex-start;
}

.contact__info,
.contact__map {
      height: 500px;
}

.contact__map {
      width: 50%;

      border: 3px solid var(--red);
}

.contact__info {
      width: 50%;
      padding: 1rem;

      background: var(--red);
      color: #fff;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
}


@media screen and (max-width: 650px) {
      .contact .container {
            flex-direction: column;
      }

      .contact__map {
            width: 100%;
      }

      .contact__info {
            width: 100%;
      }
}