.header {
      width: 100%;
      height: 100px;

      background: rgb(0, 0, 0);
      color: #fff;
}

.header .container {
      height: inherit;

      display: flex;
      align-items: center;
      justify-content: space-between;
}

.header__logo {
      height: 100px;
}

.navbar {
      display: flex;
      align-items: center;
      justify-content: center;
}     

.navbar__item {
      list-style: none;
}

.navbar__link {
      margin: 0 10px;

      font-size: 20px;
      color: rgb(255, 255, 255);
      text-decoration: none;
}

.navbar--mobile {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;

      background: rgba(0, 0, 0, 0.89);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
}


.burger-menu {
      display: none;
      z-index: 400;
}

@media screen and (max-width: 1115px) {
      .burger-menu {
            display: block;
      }

      .navbar {
            display: none;
      }
}