.header {
      width: 100%;
      height: 100px;

      background: rgb(187, 46, 46);
      color: #fff;
}

.header .container {
      height: inherit;

      display: flex;
      align-items: center;
      justify-content: space-between;
}

.header__logo {
      height: 100px;
}

.navbar {
      display: flex;
      align-items: center;
      justify-content: center;
}     

.navbar__item {
      list-style: none;
}

.navbar__link {
      margin: 0 10px;

      font-size: 20px;
      color: rgb(0, 0, 0);
      text-decoration: none;
}